# Full Logistic Regression
##### Ben Wilson

First we need to pull in the appropriate libraries and pull the data into a dataframe

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

df = pd.read_csv('https://raw.githubusercontent.com/bwilson668/thinkful/master/unit-2/loansData_clean.csv')
df.head()

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length,FICO_Score
0,20000,20000.0,8.90,36,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year,735
1,19200,19200.0,12.12,36,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years,715
2,35000,35000.0,21.98,60,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years,690
3,10000,9975.0,9.99,36,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years,695
4,12000,12000.0,11.71,36,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years,695

Now that we have the data pulled in, we have to create a true/false field to see if the loan has an interst rate above or equal to 12%.

In [3]:
df['IR_TF'] = df['Interest_Rate'].map(lambda x: 1 if x >= 12 else 0)

print df[['Interest_Rate', 'IR_TF']]

      Interest_Rate  IR_TF
0              8.90      0
1             12.12      1
2             21.98      1
3              9.99      0
4             11.71      0
5             15.31      1
6              7.90      0
7             17.14      1
8             14.33      1
9              6.91      0
10            19.72      1
11            14.27      1
12            21.67      1
13             8.90      0
14             7.62      0
15            15.65      1
16            12.12      1
17            10.37      0
18             9.76      0
19             9.99      0
20            21.98      1
21            19.05      1
22            17.99      1
23            11.99      0
24            16.82      1
25             7.90      0
26            14.42      1
27            15.31      1
28             8.59      0
29             7.90      0
...             ...    ...
2470          22.95      1
2471           7.90      0
2472          22.45      1
2473          15.13      1
2474          18.75      1
2475          14.09      1
2476          14.09      1
2477           8.90      0
2478          11.71      0
2479          15.80      1
2480           6.03      0
2481           6.62      0
2482           7.51      0
2483          14.33      1
2484          10.16      0
2485          10.75      0
2486          17.27      1
2487          19.99      1
2488          15.81      1
2489          18.75      1
2490          11.71      0
2491           7.62      0
2492          10.08      0
2493          23.28      1
2494          14.65      1
2495          16.77      1
2496          14.09      1
2497          13.99      1
2498          12.42      1
2499          13.79      1

[2500 rows x 2 columns]

Looks like our Interest Rate True / False map correctly identified all of sample.

Lets do some final prep. 
*Why do we set the intercept to 1 for the entire dataset?*

In [19]:
df['intercept'] = 1
ind_vars = df[['FICO_Score', 'Amount_Requested', 'intercept']].columns
ind_vars

Index([u'FICO_Score', u'Amount_Requested', u'intercept'], dtype='object')

Now we are ready to perform our logisitic regression

In [21]:
# Define the logistic regresson model
logit = sm.Logit(df['IR_TF'], df[ind_vars])
logit