# Olympic Webscraping and Data Exploration
#### Ben Wilson

I'll be attempting to scrape the [Database Olympics](www.databaseolympics.com) site to speed up my data collection process. Once that data is cleaned, I'll load it into a local SQLite DB. From there we can explore a few basic metrics and make our first simple model.

In [1]:
from bs4 import BeautifulSoup
import requests

url = 'http://www.databaseolympics.com/games/gamessport.htm?g=47&sp=BAD'
raw_data = requests.get(url)
soup_data = BeautifulSoup(raw_data.content)
raw_table = soup_data('table')[2]

/Applications/anaconda/lib/python2.7/site-packages/bs4/__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

Great! We have the table we want.

I should also point out that the url had two HTTP query variables
- __g=47__: the G stands for the game, which Olympics it is.
- __sp=BAD__: SP is Sport. Then you have to give a sport abbreviation. In this case it was BAD for Badmitton.

Now let's get that table parsed into a dataframe

In [2]:
import pandas
import numpy

col_name = []
for child in raw_table('tr'): 
    if child.get('class', ['Null'])[0] == 'statHead': 
        for td in child.find_all('td'): 
            col_name.append(td.get_text())
        break
results_table = pandas.DataFrame(columns = col_name)

sports_row_num = 0
event_curr = ''

for child in raw_table('tr'):
    row_curr = []
    if (child.get('class', ['Null'])[0] == 'cl1' or child.get('class', ['Null'])[0] == 'cl2'):
        col_num = 1
        for td in child.find_all('td'): 
            if col_num == 1:
                if len(td.get_text()) > 0:
                    event_curr = td.get_text()
                row_curr.append(event_curr)
            else:
                row_curr.append(td.get_text())
            col_num += 1
    if len(row_curr) == len(col_name): 
        results_table.loc[sports_row_num] = row_curr
        sports_row_num += 1
        
        
results_table['Sport'] = 'BAD'
results_table['Game'] = 47

print results_table

              Event                Athlete Country Result   Medal Sport  Game
0     Men's Singles                Lin Dan     CHN           GOLD   BAD    47
1     Men's Singles           Lee ChongWei     MAS         SILVER   BAD    47
2     Men's Singles               Chen Jin     CHN         BRONZE   BAD    47
3     Men's Doubles            Markis Kido     INA           GOLD   BAD    47
4     Men's Doubles        Hendra Setiawan     INA           GOLD   BAD    47
5     Men's Doubles             Fu Haifeng     CHN         SILVER   BAD    47
6     Men's Doubles                Cai Yun     CHN         SILVER   BAD    47
7     Men's Doubles             Lee Jaejin     KOR         BRONZE   BAD    47
8     Men's Doubles            Hwang Jiman     KOR         BRONZE   BAD    47
9   Women's Singles             Zhang Ning     CHN           GOLD   BAD    47
10  Women's Singles           Xie Xingfang     CHN         SILVER   BAD    47
11  Women's Singles  Maria KristinYulianti     INA         BRONZE   BAD    47
12  Women's Doubles                Du Jing     CHN           GOLD   BAD    47
13  Women's Doubles                Yu Yang     CHN           GOLD   BAD    47
14  Women's Doubles           Lee KyungWon     KOR         SILVER   BAD    47
15  Women's Doubles            Lee Hyojung     KOR         SILVER   BAD    47
16  Women's Doubles            Zhang Yawen     CHN         BRONZE   BAD    47
17  Women's Doubles               Wei Yili     CHN         BRONZE   BAD    47
18    Mixed Doubles            Lee Yongdae     KOR           GOLD   BAD    47
19    Mixed Doubles            Lee Hyojung     KOR           GOLD   BAD    47
20    Mixed Doubles          Nova Widianto     INA         SILVER   BAD    47
21    Mixed Doubles              Liliyana      INA         SILVER   BAD    47
22    Mixed Doubles              He Hanbin     CHN         BRONZE   BAD    47
23    Mixed Doubles               Yu Yang      CHN         BRONZE   BAD    47

Great! This looks like the format we want the data to be in. Let's set it up to look at all the Olympic years and sports.

I've made two reference CSVs. One for the Olypmic ID, year, and host. Then another for all the sports and the abbreviations.

In [3]:
import csv

olympics = pandas.read_csv('olympic_reference.csv')
sports = pandas.read_csv('olympic_sport_reference.csv')
        
# We can loop over all the olympics
# then filter down to the sports for that season (summer or winter)
# and collect all the sports keys to loop over for each of our scraping requests
print sports.sport_key[(sports.season == olympics.season[27])] # the '27' is the olympic loop index

43    ALP
44    BIA
45    BOB
46    CUR
47    FIG
48    ICE
49    LUG
50    NOR
51    SPE
Name: sport_key, dtype: object

Alright, now that we can get the __g__ and __sp__ needed for our request out of the reference tables, our script will grab
- All years
- All sports
- All events
- All medals
- All medal athletes

That is pretty effective compared to manually copy and pasting this information off the site.

Let's create the loop!

In [4]:
results_headers = ['olympic_id', 'sport_key', 'event', 'athlete', 'country', 'result', 'medal']
results_table = pandas.DataFrame(columns = results_headers)

# for index, curr_olympic in olympics.iterrows():
#     curr_sports = sports[(sports.season == curr_olympic.season)]
for i, sport in sports.iterrows():
    url = url = 'http://www.databaseolympics.com/games/gamessport.htm' \
                '?g=30' + \
                '&sp=' + str(sport.sport_key)
#         url = url = 'http://www.databaseolympics.com/games/gamessport.htm' \
#                     '?g=' + str(curr_olympic.olympic_id) + \
#                     '&sp=' + str(sport.sport_key)
        
    raw_data = requests.get(url)
    soup_data = BeautifulSoup(raw_data.content)
    raw_table = soup_data('table')[2]

    sports_row_num = 0
    event_curr = ''

    for child in raw_table('tr'):
        row_curr = [curr_olympic.olympic_id, sport.sport_key]
        if (child.get('class', ['Null'])[0] == 'cl1' or child.get('class', ['Null'])[0] == 'cl2'):
            col_num = 1
            for td in child.find_all('td'): 
                if col_num == 1:
                    if len(td.get_text()) > 0:
                        event_curr = td.get_text()
                    row_curr.append(event_curr)
                else:
                    row_curr.append(td.get_text())
                col_num += 1
        if len(row_curr) == len(col_name): 
            results_table.loc[sports_row_num] = row_curr
            sports_row_num += 1
                
print results_table.head()

NameError: name 'curr_olympic' is not defined

In [14]:
olympic_results_headers = ['olympic_id', 'sport_key', 'event', 'athlete', 'country', 'result', 'medal']
olympic_results_table = pandas.DataFrame(columns = olympic_results_headers)

for i, sport in sports.iterrows():
    curr_url = 'http://www.databaseolympics.com/games/gamessport.htm' \
                '?g=30' + \
                '&sp=' + str(sport.sport_key)
        
    raw_response_data = requests.get(curr_url)
    soup_response_data = BeautifulSoup(raw_response_data.content)
    raw_response_table = soup_response_data('table')[2]

    sport_row_num = 0
    curr_sport_event = ''
    
    if len(raw_response_table('tr')) > 1:
        for child in raw_response_table('tr'):
            curr_row = [olympics.olympic_id[29], sport.sport_key]
            if (child.get('class', ['Null'])[0] == 'cl1' or child.get('class', ['Null'])[0] == 'cl2'):
                col_num = 1
                for td in child.find_all('td'): 
                    if col_num == 1:
                        if len(td.get_text()) > 0:
                            event_curr = td.get_text()
                        curr_row.append(event_curr)
                    else:
                        curr_row.append(td.get_text())
                    col_num += 1
            if len(curr_row) == len(olympic_results_headers): 
                olympic_results_table.loc[sport_row_num] = curr_row
                sport_row_num += 1
        
print olympic_results_table.head()

   olympic_id sport_key      event            athlete country  result   medal
0        30.0       SPE   500m Men    Ivar Ballangrud     NOR    43.4    GOLD
1        30.0       SPE   500m Men         Georg Krog     NOR    43.5  SILVER
2        30.0       SPE   500m Men     Leo Freisinger     USA    44.0  BRONZE
3        30.0       SPE  1500m Men  Charles Mathiesen     NOR  2:19.2    GOLD
4        30.0       SPE  1500m Men    Ivar Ballangrud     NOR  2:20.2  SILVER

In [31]:
import io

olympic_results_headers = ['olympic_id', 'sport_key', 'event', 'athlete', 'country', 'result', 'medal']
olympic_results_table = pandas.DataFrame(columns = olympic_results_headers)

olympic_csv = io.open('olympic-results.csv', 'a')

for index, curr_olympic in olympics.iterrows():
    curr_sports = sports[(sports.season == curr_olympic.season)]
    for i, sport in curr_sports.iterrows():
        curr_url = 'http://www.databaseolympics.com/games/gamessport.htm' \
                    '?g=' + str(curr_olympic.olympic_id) + \
                    '&sp=' + str(sport.sport_key)

        raw_response_data = requests.get(curr_url)
        soup_response_data = BeautifulSoup(raw_response_data.content)
        raw_response_table = soup_response_data('table')[2]

        sport_row_num = 0
        curr_sport_event = ''

        if len(raw_response_table('tr')) > 1:
            for child in raw_response_table('tr'):
                curr_row = [curr_olympic.olympic_id, sport.sport_key]
                if (child.get('class', ['Null'])[0] == 'cl1' or child.get('class', ['Null'])[0] == 'cl2'):
                    col_num = 1
                    for td in child.find_all('td'): 
                        if col_num == 1:
                            if len(td.get_text()) > 0:
                                event_curr = td.get_text()
                            curr_row.append(event_curr)
                        else:
                            curr_row.append(td.get_text())
                        col_num += 1
                if len(curr_row) == len(olympic_results_headers): 
                    olympic_results_table.loc[sport_row_num] = curr_row
                    
                    csv_row = [unicode(i) for i in curr_row]
                    
                    csv_string = ','.join(unicode(e) for e in csv_row) + '\n'
                    olympic_csv.write(csv_string)
                    
                    sport_row_num += 1
                    
olympic_csv.close()
        
print olympic_results_table.head()

   olympic_id sport_key             event            athlete country result  \
0        47.0       WRE  Greco-Roman 55kg      Nazyr Mankiev     RUS
1        47.0       WRE  Greco-Roman 55kg   Rovshan Bayramov     AZE
2        47.0       WRE  Greco-Roman 55kg       Roman Amoyan     ARM
3        47.0       WRE  Greco-Roman 55kg       Park EunChul     KOR
4        47.0       WRE  Greco-Roman 60kg  Islam-Beka Albiev     RUS

    medal
0    GOLD
1  SILVER
2  BRONZE
3  BRONZE
4    GOLD

In [17]:
print olympic_results_table

     olympic_id sport_key                         event  \
0          47.0       WRE              Greco-Roman 55kg
1          47.0       WRE              Greco-Roman 55kg
2          47.0       WRE              Greco-Roman 55kg
3          47.0       WRE              Greco-Roman 55kg
4          47.0       WRE              Greco-Roman 60kg
5          47.0       WRE              Greco-Roman 60kg
6          47.0       WRE              Greco-Roman 60kg
7          47.0       WRE              Greco-Roman 60kg
8          47.0       WRE              Greco-Roman 66kg
9          47.0       WRE              Greco-Roman 66kg
10         47.0       WRE              Greco-Roman 66kg
11         47.0       WRE              Greco-Roman 66kg
12         47.0       WRE              Greco-Roman 74kg
13         47.0       WRE              Greco-Roman 74kg
14         47.0       WRE              Greco-Roman 74kg
15         47.0       WRE              Greco-Roman 74kg
16         47.0       WRE              Greco-Roman 84kg
17         47.0       WRE              Greco-Roman 84kg
18         47.0       WRE              Greco-Roman 84kg
19         47.0       WRE              Greco-Roman 96kg
20         47.0       WRE              Greco-Roman 96kg
21         47.0       WRE              Greco-Roman 96kg
22         47.0       WRE              Greco-Roman 96kg
23         47.0       WRE             Greco-Roman 120kg
24         47.0       WRE             Greco-Roman 120kg
25         47.0       WRE             Greco-Roman 120kg
26         47.0       WRE             Greco-Roman 120kg
27         47.0       WRE            Freestyle 55kg Men
28         47.0       WRE            Freestyle 55kg Men
29         47.0       WRE            Freestyle 55kg Men
..          ...       ...                           ...
170        47.0       ATH                   5000m Women
171        47.0       ATH                   5000m Women
172        47.0       ATH                   5000m Women
173        47.0       ATH             Triple Jump Women
174        47.0       ATH             Triple Jump Women
175        47.0       ATH             Triple Jump Women
176        47.0       ATH              Pole Vault Women
177        47.0       ATH              Pole Vault Women
178        47.0       ATH              Pole Vault Women
179        47.0       ATH               20km Walk Women
180        47.0       ATH               20km Walk Women
181        47.0       ATH               20km Walk Women
182        47.0       ATH            Hammer Throw Women
183        47.0       ATH            Hammer Throw Women
184        47.0       ATH            Hammer Throw Women
185        47.0       ATH      3000m Steeplechase Women
186        47.0       ATH      3000m Steeplechase Women
187        47.0       ATH      3000m Steeplechase Women
188        47.0       SWI  4x200m Freestyle Relay Women
189        47.0       SWI  4x200m Freestyle Relay Women
190        47.0       SWI  4x200m Freestyle Relay Women
191        47.0       SWI  4x200m Freestyle Relay Women
192        47.0       SWI  4x200m Freestyle Relay Women
193        47.0       SWI  4x200m Freestyle Relay Women
194        47.0       SWI             10km Marathon Men
195        47.0       SWI             10km Marathon Men
196        47.0       SWI             10km Marathon Men
197        47.0       SWI           10km Marathon Women
198        47.0       SWI           10km Marathon Women
199        47.0       SWI           10km Marathon Women

                     athlete country     result   medal
0              Nazyr Mankiev     RUS               GOLD
1           Rovshan Bayramov     AZE             SILVER
2               Roman Amoyan     ARM             BRONZE
3               Park EunChul     KOR             BRONZE
4          Islam-Beka Albiev     RUS               GOLD
5            Vitaliy Rahimov     AZE             SILVER
6       Nurbakyt Tengizbayev     KAZ             BRONZE
7          Ruslan Tiumenbaev     KGZ             BRONZE
8              Steeve Guenot     FRA               GOLD
9          Kanatbek Begaliev     KGZ             SILVER
10           Armen Vardanyan     UKR             BRONZE
11         Mikhail Siamionau     BLR             BRONZE
12        Manuchar Kvirkelia     GEO               GOLD
13           Chang Yongxiang     CHN             SILVER
14         Christophe Guenot     FRA             BRONZE
15            Yavor Yanakiev     BUL             BRONZE
16           Andrea Minguzzi     ITA               GOLD
17              Zoltan Fodor     HUN             SILVER
18              Nazmi Avluca     TUR             BRONZE
19         Aslanbek Khushtov     RUS               GOLD
20             Mirko Englich     GER             SILVER
21            Asset Mambetov     KAZ             BRONZE
22              Adam Wheeler     USA             BRONZE
23              Mijain Lopez     CUB               GOLD
24             Khasan Baroev     RUS             SILVER
25            Yuri Patrikeev     ARM             BRONZE
26       Mindaugas Mizgaitis     LTU             BRONZE
27              Henry Cejudo     USA               GOLD
28        Tomohiro Matsunaga     JPN             SILVER
29          Radoslav Velikov     BUL             BRONZE
..                       ...     ...        ...     ...
170          Tirunesh Dibaba     ETH   15:41.40    GOLD
171        Elvan Abeylegesse     TUR   15:42.74  SILVER
172            Meseret Defar     ETH   15:44.12  BRONZE
173   Francoise Mbango Etone     CMR      15.39    GOLD
174         Tatyana Lebedeva     RUS      15.32  SILVER
175        Hrysopiyi Devetzi     GRE      15.23  BRONZE
176        Yelena Isinbayeva     RUS       5.05    GOLD
177      Jennifer Stuczynski     USA       4.80  SILVER
178       Svetlana Feofanova     RUS       4.75  BRONZE
179           Olga Kaniskina     RUS    1:26:31    GOLD
180          Kjersti Platzer     NOR    1:27:07  SILVER
181            Elisa Rigaudo     ITA    1:27:12  BRONZE
182          Aksana Miankova     BLR      76.34    GOLD
183             Yipsi Moreno     CUB      75.20  SILVER
184             Zhang Wenxiu     CHN      74.32  BRONZE
185  Gulnara GalkinaSamitova     RUS    8:58.81    GOLD
186          Eunice Jepkorir     KEN    9:07.41  SILVER
187        Ekaterina Volkova     RUS    9:07.64  BRONZE
188               Julia Smit     USA    7:46.33  BRONZE
189          Allison Schmitt     USA    7:46.33  BRONZE
190       Christine Marshall     USA    7:46.33  BRONZE
191               Katie Hoff     USA    7:46.33  BRONZE
192         Caroline Burckle     USA    7:46.33  BRONZE
193         Natalie Coughlin     USA    7:46.33  BRONZE
194  Maartin van der Weijden     NED  1:51:51.6    GOLD
195             David Davies     GBR  1:51:53.6  SILVER
196              Thomas Lurz     GER  1:51:53.6  BRONZE
197          Larisa Ilchenko     RUS  1:59:27.7    GOLD
198          Keri-Anne Payne     GBR  1:59:29.2  SILVER
199         Cassandra Patten     GBR  1:59:31.0  BRONZE

[200 rows x 7 columns]