In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import csv
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

df = pd.read_csv('data/olympic-country-medals-with-indicators.csv')
df.head()

,olympic_id,year,host_nation,host_advantage,country_abv,country,olympic_medals,olympic_medals_score,gdp,population,region,income_group
0,15,1960,ITA,False,ARG,Argentina,2,7,NaN,20619075,Latin America & Caribbean,Not classified
1,15,1960,ITA,False,AUS,Australia,22,73,1.856759e+10,10276477,East Asia & Pacific,High income
2,15,1960,ITA,False,AUT,Austria,2,7,6.592694e+09,7047539,Europe & Central Asia,High income
3,15,1960,ITA,False,BEL,Belgium,4,6,1.165872e+10,9153489,Europe & Central Asia,High income
4,15,1960,ITA,False,BRA,Brazil,2,13,1.516557e+10,72493585,Latin America & Caribbean,Upper middle income