# Web Scraping and Wealth / Education Comparison
#### Ben Wilson

We will be scraping the UN data and seeing if we can statistically find a coorelation between a countries wealth and eduction.

In [11]:
from bs4 import BeautifulSoup
import requests

url = "http://web.archive.org/web/20110514112442/http://unstats.un.org/unsd/demographic/products/socind/education.htm"

r = requests.get(url)
soup = BeautifulSoup(r.content, "lxml")

table = soup('table')[6]
rows = table.findChildren(['th', 'tr'])


row_count = 0
cell_count = 0

for row in rows:
    row_count += 1
    cells = row.findChildren('td')
    for cell in cells:
        cell_count += 1
        value = cell.string
        print "The value in row: %s col: %s is %s" % (row_count, cell_count, value)
    cell_count = 0

The value in row: 1 col: 1 is None
The value in row: 1 col: 2 is None
The value in row: 1 col: 3 is None
The value in row: 1 col: 4 is None
The value in row: 1 col: 5 is Indicators on education
The value in row: 1 col: 6 is Last update: December 2010
The value in row: 1 col: 7 is None
The value in row: 1 col: 8 is School life expectancy (in years). Primary to tertiary education
The value in row: 1 col: 9 is Country or area
The value in row: 1 col: 10 is Year
The value in row: 1 col: 11 is None
The value in row: 1 col: 12 is None
The value in row: 1 col: 13 is Total
The value in row: 1 col: 14 is Men
The value in row: 1 col: 15 is Women
The value in row: 1 col: 16 is Afghanistan
The value in row: 1 col: 17 is 2004
The value in row: 1 col: 18 is
The value in row: 1 col: 19 is a
The value in row: 1 col: 20 is 8
The value in row: 1 col: 21 is None
The value in row: 1 col: 22 is None
The value in row: 1 col: 23 is 11
The value in row: 1 col: 24 is None
The value in row: 1 col: 25 is None
The value in row: 1 col: 26 is 5
The value in row: 1 col: 27 is None
The value in row: 1 col: 28 is Albania
The value in row: 1 col: 29 is 2004
The value in row: 1 col: 30 is
The value in row: 1 col: 31 is a
The value in row: 1 col: 32 is 11
The value in row: 1 col: 33 is None
The value in row: 1 col: 34 is None
The value in row: 1 col: 35 is 11
The value in row: 1 col: 36 is None
The value in row: 1 col: 37 is None
The value in row: 1 col: 38 is 11
The value in row: 1 col: 39 is None
The value in row: 1 col: 40 is Algeria
The value in row: 1 col: 41 is 2005
The value in row: 1 col: 42 is
The value in row: 1 col: 43 is a
The value in row: 1 col: 44 is 13
The value in row: 1 col: 45 is None
The value in row: 1 col: 46 is None
The value in row: 1 col: 47 is 13
The value in row: 1 col: 48 is None
The value in row: 1 col: 49 is None
The value in row: 1 col: 50 is 13
The value in row: 1 col: 51 is None
The value in row: 1 col: 52 is Andorra
The value in row: 1 col: 53 is 2008
The value in row: 1 col: 54 is
The value in row: 1 col: 55 is a
The value in row: 1 col: 56 is 11
The value in row: 1 col: 57 is None
The value in row: 1 col: 58 is None
The value in row: 1 col: 59 is 11
The value in row: 1 col: 60 is None
The value in row: 1 col: 61 is None
The value in row: 1 col: 62 is 12
The value in row: 1 col: 63 is None
The value in row: 1 col: 64 is Anguilla
The value in row: 1 col: 65 is 2008
The value in row: 1 col: 66 is
The value in row: 1 col: 67 is a
The value in row: 1 col: 68 is 11
The value in row: 1 col: 69 is None
The value in row: 1 col: 70 is None
The value in row: 1 col: 71 is 11
The value in row: 1 col: 72 is None
The value in row: 1 col: 73 is None
The value in row: 1 col: 74 is 11
The value in row: 1 col: 75 is None
The value in row: 1 col: 76 is Antigua and Barbuda
The value in row: 1 col: 77 is 2000
The value in row: 1 col: 78 is None
The value in row: 1 col: 79 is None
The value in row: 1 col: 80 is 14
The value in row: 1 col: 81 is None
The value in row: 1 col: 82 is None
The value in row: 1 col: 83 is 12
The value in row: 1 col: 84 is None
The value in row: 1 col: 85 is None
The value in row: 1 col: 86 is 16
The value in row: 1 col: 87 is None
The value in row: 1 col: 88 is Argentina
The value in row: 1 col: 89 is 2007
The value in row: 1 col: 90 is None
The value in row: 1 col: 91 is None
The value in row: 1 col: 92 is 16
The value in row: 1 col: 93 is None
The value in row: 1 col: 94 is None
The value in row: 1 col: 95 is 15
The value in row: 1 col: 96 is None
The value in row: 1 col: 97 is None
The value in row: 1 col: 98 is 17
The value in row: 1 col: 99 is None
The value in row: 1 col: 100 is Armenia
The value in row: 1 col: 101 is 2009
The value in row: 1 col: 102 is None
The value in row: 1 col: 103 is None
The value in row: 1 col: 104 is 12
The value in row: 1 col: 105 is None
The value in row: 1 col: 106 is None
The value in row: 1 col: 107 is 12
The value in row: 1 col: 108 is None
The value in row: 1 col: 109 is None
The value in row: 1 col: 110 is 13
The value in row: 1 col: 111 is None
The value in row: 1 col: 112 is Aruba
The value in row: 1 col: 113 is 2009
The value in row: 1 col: 114 is None
The value in row: 1 col: 115 is None
The value in row: 1 col: 116 is 13
The value in row: 1 col: 117 is None
The value in row: 1 col: 118 is None
The value in row: 1 col: 119 is 13
The value in row: 1 col: 120 is None
The value in row: 1 col: 121 is None
The value in row: 1 col: 122 is 13
The value in row: 1 col: 123 is None
The value in row: 1 col: 124 is Australia
The value in row: 1 col: 125 is 2008
The value in row: 1 col: 126 is None
The value in row: 1 col: 127 is None
The value in row: 1 col: 128 is 21
The value in row: 1 col: 129 is None
The value in row: 1 col: 130 is None
The value in row: 1 col: 131 is 20
The value in row: 1 col: 132 is None
The value in row: 1 col: 133 is None
The value in row: 1 col: 134 is 21
The value in row: 1 col: 135 is None
The value in row: 1 col: 136 is Austria
The value in row: 1 col: 137 is 2008
The value in row: 1 col: 138 is None
The value in row: 1 col: 139 is None
The value in row: 1 col: 140 is 15
The value in row: 1 col: 141 is None
The value in row: 1 col: 142 is None
The value in row: 1 col: 143 is 15
The value in row: 1 col: 144 is None
The value in row: 1 col: 145 is None
The value in row: 1 col: 146 is 15
The value in row: 1 col: 147 is None
The value in row: 1 col: 148 is Azerbaijan
The value in row: 1 col: 149 is 2008
The value in row: 1 col: 150 is
The value in row: 1 col: 151 is b
The value in row: 1 col: 152 is 13
The value in row: 1 col: 153 is None
The value in row: 1 col: 154 is None
The value in row: 1 col: 155 is 13
The value in row: 1 col: 156 is None
The value in row: 1 col: 157 is None
The value in row: 1 col: 158 is 13
The value in row: 1 col: 159 is None
The value in row: 1 col: 160 is Bahrain
The value in row: 1 col: 161 is 2006
The value in row: 1 col: 162 is
The value in row: 1 col: 163 is a
The value in row: 1 col: 164 is 14
The value in row: 1 col: 165 is None
The value in row: 1 col: 166 is None
The value in row: 1 col: 167 is 14
The value in row: 1 col: 168 is None
The value in row: 1 col: 169 is None
The value in row: 1 col: 170 is 15
The value in row: 1 col: 171 is None
The value in row: 1 col: 172 is Bangladesh
The value in row: 1 col: 173 is 2007
The value in row: 1 col: 174 is None
The value in row: 1 col: 175 is None
The value in row: 1 col: 176 is 8
The value in row: 1 col: 177 is None
The value in row: 1 col: 178 is None
The value in row: 1 col: 179 is 8
The value in row: 1 col: 180 is None
The value in row: 1 col: 181 is None
The value in row: 1 col: 182 is 8
The value in row: 1 col: 183 is None
The value in row: 1 col: 184 is Belarus
The value in row: 1 col: 185 is 2007
The value in row: 1 col: 186 is None
The value in row: 1 col: 187 is None
The value in row: 1 col: 188 is 15
The value in row: 1 col: 189 is None
The value in row: 1 col: 190 is None
The value in row: 1 col: 191 is 14
The value in row: 1 col: 192 is None
The value in row: 1 col: 193 is None
The value in row: 1 col: 194 is 15
The value in row: 1 col: 195 is None
The value in row: 1 col: 196 is Belgium
The value in row: 1 col: 197 is 2008
The value in row: 1 col: 198 is
The value in row: 1 col: 199 is a
The value in row: 1 col: 200 is 16
The value in row: 1 col: 201 is None
The value in row: 1 col: 202 is None
The value in row: 1 col: 203 is 16
The value in row: 1 col: 204 is None
The value in row: 1 col: 205 is None
The value in row: 1 col: 206 is 16
The value in row: 1 col: 207 is None
The value in row: 1 col: 208 is Belize
The value in row: 1 col: 209 is 2009
The value in row: 1 col: 210 is
The value in row: 1 col: 211 is a
The value in row: 1 col: 212 is 12
The value in row: 1 col: 213 is None
The value in row: 1 col: 214 is None
The value in row: 1 col: 215 is 12
The value in row: 1 col: 216 is None
The value in row: 1 col: 217 is None
The value in row: 1 col: 218 is 13
The value in row: 1 col: 219 is None
The value in row: 1 col: 220 is Benin
The value in row: 1 col: 221 is 2001
The value in row: 1 col: 222 is
The value in row: 1 col: 223 is a
The value in row: 1 col: 224 is 9
The value in row: 1 col: 225 is
The value in row: 1 col: 226 is c
The value in row: 1 col: 227 is 10
The value in row: 1 col: 228 is None
The value in row: 1 col: 229 is None
The value in row: 1 col: 230 is 6
The value in row: 1 col: 231 is None
The value in row: 1 col: 232 is Bermuda
The value in row: 1 col: 233 is 2006
The value in row: 1 col: 234 is
The value in row: 1 col: 235 is a
The value in row: 1 col: 236 is 12
The value in row: 1 col: 237 is None
The value in row: 1 col: 238 is None
The value in row: 1 col: 239 is 12
The value in row: 1 col: 240 is None
The value in row: 1 col: 241 is None
The value in row: 1 col: 242 is 12
The value in row: 1 col: 243 is None
The value in row: 1 col: 244 is Bhutan
The value in row: 1 col: 245 is 2008
The value in row: 1 col: 246 is
The value in row: 1 col: 247 is a
The value in row: 1 col: 248 is 11
The value in row: 1 col: 249 is None
The value in row: 1 col: 250 is None
The value in row: 1 col: 251 is 11
The value in row: 1 col: 252 is None
The value in row: 1 col: 253 is None
The value in row: 1 col: 254 is 11
The value in row: 1 col: 255 is None
The value in row: 1 col: 256 is Bolivia (Plurinational State of)
The value in row: 1 col: 257 is 2007
The value in row: 1 col: 258 is
The value in row: 1 col: 259 is a
The value in row: 1 col: 260 is 14
The value in row: 1 col: 261 is None
The value in row: 1 col: 262 is None
The value in row: 1 col: 263 is 14
The value in row: 1 col: 264 is None
The value in row: 1 col: 265 is None
The value in row: 1 col: 266 is 14
The value in row: 1 col: 267 is None
The value in row: 1 col: 268 is Bosnia and Herzegovina
The value in row: 1 col: 269 is 2009
The value in row: 1 col: 270 is
The value in row: 1 col: 271 is a
The value in row: 1 col: 272 is 14
The value in row: 1 col: 273 is None
The value in row: 1 col: 274 is None
The value in row: 1 col: 275 is 13
The value in row: 1 col: 276 is None
The value in row: 1 col: 277 is None
The value in row: 1 col: 278 is 14
The value in row: 1 col: 279 is None
The value in row: 1 col: 280 is Botswana
The value in row: 1 col: 281 is 2006
The value in row: 1 col: 282 is
The value in row: 1 col: 283 is a
The value in row: 1 col: 284 is 12
The value in row: 1 col: 285 is None
The value in row: 1 col: 286 is None
The value in row: 1 col: 287 is 12
The value in row: 1 col: 288 is None
The value in row: 1 col: 289 is None
The value in row: 1 col: 290 is 12
The value in row: 1 col: 291 is None
The value in row: 1 col: 292 is Brazil
The value in row: 1 col: 293 is 2008
The value in row: 1 col: 294 is None
The value in row: 1 col: 295 is None
The value in row: 1 col: 296 is 14
The value in row: 1 col: 297 is None
The value in row: 1 col: 298 is None
The value in row: 1 col: 299 is 14
The value in row: 1 col: 300 is None
The value in row: 1 col: 301 is None
The value in row: 1 col: 302 is 14
The value in row: 1 col: 303 is None
The value in row: 1 col: 304 is British Virgin Islands
The value in row: 1 col: 305 is 2005
The value in row: 1 col: 306 is
The value in row: 1 col: 307 is a
The value in row: 1 col: 308 is 17
The value in row: 1 col: 309 is None
The value in row: 1 col: 310 is None
The value in row: 1 col: 311 is 15
The value in row: 1 col: 312 is None
The value in row: 1 col: 313 is None
The value in row: 1 col: 314 is 19
The value in row: 1 col: 315 is None
The value in row: 1 col: 316 is Brunei Darussalam
The value in row: 1 col: 317 is 2009
The value in row: 1 col: 318 is
The value in row: 1 col: 319 is a
The value in row: 1 col: 320 is 14
The value in row: 1 col: 321 is None
The value in row: 1 col: 322 is None
The value in row: 1 col: 323 is 14
The value in row: 1 col: 324 is None
The value in row: 1 col: 325 is None
The value in row: 1 col: 326 is 14
The value in row: 1 col: 327 is None
The value in row: 1 col: 328 is Bulgaria
The value in row: 1 col: 329 is 2008
The value in row: 1 col: 330 is None
The value in row: 1 col: 331 is None
The value in row: 1 col: 332 is 14
The value in row: 1 col: 333 is None
The value in row: 1 col: 334 is None
The value in row: 1 col: 335 is 13
The value in row: 1 col: 336 is None
The value in row: 1 col: 337 is None
The value in row: 1 col: 338 is 14
The value in row: 1 col: 339 is None
The value in row: 1 col: 340 is Burkina Faso
The value in row: 1 col: 341 is 2009
The value in row: 1 col: 342 is None
The value in row: 1 col: 343 is None
The value in row: 1 col: 344 is 6
The value in row: 1 col: 345 is None
The value in row: 1 col: 346 is None
The value in row: 1 col: 347 is 7
The value in row: 1 col: 348 is None
The value in row: 1 col: 349 is None
The value in row: 1 col: 350 is 6
The value in row: 1 col: 351 is None
The value in row: 1 col: 352 is Burundi
The value in row: 1 col: 353 is 2006
The value in row: 1 col: 354 is
The value in row: 1 col: 355 is a
The value in row: 1 col: 356 is 10
The value in row: 1 col: 357 is
The value in row: 1 col: 358 is d
The value in row: 1 col: 359 is 8
The value in row: 1 col: 360 is None
The value in row: 1 col: 361 is None
The value in row: 1 col: 362 is 7
The value in row: 1 col: 363 is None
The value in row: 1 col: 364 is Cambodia
The value in row: 1 col: 365 is 2007
The value in row: 1 col: 366 is
The value in row: 1 col: 367 is a
The value in row: 1 col: 368 is 10
The value in row: 1 col: 369 is None
The value in row: 1 col: 370 is None
The value in row: 1 col: 371 is 10
The value in row: 1 col: 372 is None
The value in row: 1 col: 373 is None
The value in row: 1 col: 374 is 9
The value in row: 1 col: 375 is None
The value in row: 1 col: 376 is Cameroon
The value in row: 1 col: 377 is 2009
The value in row: 1 col: 378 is
The value in row: 1 col: 379 is a
The value in row: 1 col: 380 is 10
The value in row: 1 col: 381 is None
The value in row: 1 col: 382 is None
The value in row: 1 col: 383 is 11
The value in row: 1 col: 384 is None
The value in row: 1 col: 385 is None
The value in row: 1 col: 386 is 9
The value in row: 1 col: 387 is None
The value in row: 1 col: 388 is Canada
The value in row: 1 col: 389 is 2002
The value in row: 1 col: 390 is
The value in row: 1 col: 391 is a
The value in row: 1 col: 392 is 16
The value in row: 1 col: 393 is None
The value in row: 1 col: 394 is None
The value in row: 1 col: 395 is 16
The value in row: 1 col: 396 is None
The value in row: 1 col: 397 is None
The value in row: 1 col: 398 is 16
The value in row: 1 col: 399 is None
The value in row: 1 col: 400 is Cape Verde
The value in row: 1 col: 401 is 2009
The value in row: 1 col: 402 is
The value in row: 1 col: 403 is a
The value in row: 1 col: 404 is 12
The value in row: 1 col: 405 is None
The value in row: 1 col: 406 is None
The value in row: 1 col: 407 is 11
The value in row: 1 col: 408 is None
The value in row: 1 col: 409 is None
The value in row: 1 col: 410 is 12
The value in row: 1 col: 411 is None
The value in row: 1 col: 412 is Cayman Islands
The value in row: 1 col: 413 is 2008
The value in row: 1 col: 414 is None
The value in row: 1 col: 415 is None
The value in row: 1 col: 416 is 12
The value in row: 1 col: 417 is None
The value in row: 1 col: 418 is None
The value in row: 1 col: 419 is 11
The value in row: 1 col: 420 is None
The value in row: 1 col: 421 is None
The value in row: 1 col: 422 is 12
The value in row: 1 col: 423 is None
The value in row: 1 col: 424 is Central African Republic
The value in row: 1 col: 425 is 2009
The value in row: 1 col: 426 is
The value in row: 1 col: 427 is a
The value in row: 1 col: 428 is 7
The value in row: 1 col: 429 is None
The value in row: 1 col: 430 is None
The value in row: 1 col: 431 is 8
The value in row: 1 col: 432 is None
The value in row: 1 col: 433 is None
The value in row: 1 col: 434 is 5
The value in row: 1 col: 435 is None
The value in row: 1 col: 436 is Chad
The value in row: 1 col: 437 is 2009
The value in row: 1 col: 438 is
The value in row: 1 col: 439 is a
The value in row: 1 col: 440 is 7
The value in row: 1 col: 441 is None
The value in row: 1 col: 442 is None
The value in row: 1 col: 443 is 9
The value in row: 1 col: 444 is None
The value in row: 1 col: 445 is None
The value in row: 1 col: 446 is 5
The value in row: 1 col: 447 is None
The value in row: 1 col: 448 is Chile
The value in row: 1 col: 449 is 2008
The value in row: 1 col: 450 is None
The value in row: 1 col: 451 is None
The value in row: 1 col: 452 is 15
The value in row: 1 col: 453 is None
The value in row: 1 col: 454 is None
The value in row: 1 col: 455 is 15
The value in row: 1 col: 456 is None
The value in row: 1 col: 457 is None
The value in row: 1 col: 458 is 15
The value in row: 1 col: 459 is None
The value in row: 1 col: 460 is China
The value in row: 1 col: 461 is 2008
The value in row: 1 col: 462 is
The value in row: 1 col: 463 is a
The value in row: 1 col: 464 is 11
The value in row: 1 col: 465 is None
The value in row: 1 col: 466 is None
The value in row: 1 col: 467 is 11
The value in row: 1 col: 468 is None
The value in row: 1 col: 469 is None
The value in row: 1 col: 470 is 12
The value in row: 1 col: 471 is None
The value in row: 1 col: 472 is China, Hong Kong SAR
The value in row: 1 col: 473 is 2009
The value in row: 1 col: 474 is
The value in row: 1 col: 475 is a
The value in row: 1 col: 476 is 16
The value in row: 1 col: 477 is None
The value in row: 1 col: 478 is None
The value in row: 1 col: 479 is 15
The value in row: 1 col: 480 is None
The value in row: 1 col: 481 is None
The value in row: 1 col: 482 is 16
The value in row: 1 col: 483 is None
The value in row: 1 col: 484 is China, Macao SAR
The value in row: 1 col: 485 is 2009
The value in row: 1 col: 486 is None
The value in row: 1 col: 487 is None
The value in row: 1 col: 488 is 14
The value in row: 1 col: 489 is None
The value in row: 1 col: 490 is None
The value in row: 1 col: 491 is 15
The value in row: 1 col: 492 is None
The value in row: 1 col: 493 is None
The value in row: 1 col: 494 is 14
The value in row: 1 col: 495 is None
The value in row: 1 col: 496 is Colombia
The value in row: 1 col: 497 is 2009
The value in row: 1 col: 498 is
The value in row: 1 col: 499 is a
The value in row: 1 col: 500 is 14
The value in row: 1 col: 501 is None
The value in row: 1 col: 502 is None
The value in row: 1 col: 503 is 13
The value in row: 1 col: 504 is None
The value in row: 1 col: 505 is None
The value in row: 1 col: 506 is 14
The value in row: 1 col: 507 is None
The value in row: 1 col: 508 is Comoros
The value in row: 1 col: 509 is 2004
The value in row: 1 col: 510 is
The value in row: 1 col: 511 is a
The value in row: 1 col: 512 is 11
The value in row: 1 col: 513 is None
The value in row: 1 col: 514 is None
The value in row: 1 col: 515 is 12
The value in row: 1 col: 516 is None
The value in row: 1 col: 517 is None
The value in row: 1 col: 518 is 10
The value in row: 1 col: 519 is None
The value in row: 1 col: 520 is Congo
The value in row: 1 col: 521 is 2003
The value in row: 1 col: 522 is
The value in row: 1 col: 523 is a
The value in row: 1 col: 524 is 9
The value in row: 1 col: 525 is None
The value in row: 1 col: 526 is None
The value in row: 1 col: 527 is 10
The value in row: 1 col: 528 is None
The value in row: 1 col: 529 is None
The value in row: 1 col: 530 is 8
The value in row: 1 col: 531 is None
The value in row: 1 col: 532 is Cook Islands
The value in row: 1 col: 533 is 2010
The value in row: 1 col: 534 is
The value in row: 1 col: 535 is b
The value in row: 1 col: 536 is 12
The value in row: 1 col: 537 is None
The value in row: 1 col: 538 is None
The value in row: 1 col: 539 is 12
The value in row: 1 col: 540 is None
The value in row: 1 col: 541 is None
The value in row: 1 col: 542 is 13
The value in row: 1 col: 543 is None
The value in row: 1 col: 544 is Costa Rica
The value in row: 1 col: 545 is 2005
The value in row: 1 col: 546 is
The value in row: 1 col: 547 is a

In [12]:
import sqlite3 as lite

con = lite.connect('education_and_wealth.db')
cur = con.cursor()

with con:
    cur.execute('CREATE TABLE education (' \
                    'id INT PRIMARY KEY,' \
                    'country STRING,' \
                    'male_school INT,' \
                    'female_school INT,' \
                    'year INT' \
               ')')